[data-differ-diff] {
    display: inline-table;
    vertical-align: text-bottom;
    margin-top: -2em;
}

[data-differ-diff] [data-differ-del^="text"] {
    vertical-align: bottom;
    text-align: center;
    line-height: 140%;
    font-size: 80%;
    position: relative;
    top: 0.4em;
    color: red;
    text-decoration: line-through;
}

[data-differ-diff] [data-differ-ins] {
    display: table-row;
    /*text-align: center;*/
    line-height: 140%;
    color: #2eb82e;
}

[data-differ-del^="structure"] {
    color: red;
    border: 1px solid red;
}

[data-differ-del^="structure"] * {
    color: red;
}

[data-differ-ins^="structure"] {
    color: #2eb82e !important;
    border: 1px solid #2eb82e;
}

[data-differ-ins^="structure"] * {
    color: #2eb82e !important;
}