[data-differ-ins^="text"] {
    color: #2eb82e;
}

[data-differ-ins^="structure"] {
    color: #2eb82e !important;
    border: 1px solid #2eb82e;
}

[data-differ-ins] > * {
    color: #2eb82e !important;
}

[data-differ-del^="text"] {
    color: red;
    text-decoration: line-through;

    /* vertical view */
    position: absolute;
    margin: -15px 0 0 0px;
    line-height: 100%;
    height: 0.7%;
    text-overflow: clip;
    overflow: auto;
}

[data-differ-del^="structure"] {
    color: red;
    border: 1px solid red;
}

.lh-4 {
    line-height: 4;
}
